* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
}

td.description,
th.description {
    width: 300px;
    max-width: 300px;
}

td.total,
th.total {
    width: 140px;
    max-width: 140px;
    word-break: break-all;
}
td.quantity,
th.quantity {
    width: 140px;
    max-width: 140px;
    word-break: break-all;
}

td.price,
th.price {
    width: 140px;
    max-width: 140px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}